body {
    color: #34383B;
    background : #E9EDF2;
    margin: 0;
}

.container{
    width: 1120px;
    margin: 0 auto;
}

h1, h2{
    font-family: sans-serif;
}

h2{
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
}

/* Menu du Haut*/

#active {
    color: #8E96A6;
}

.menu {
    padding: 10px;
}

.menu__left>img{
    width: 220px;
    float: left;
}

nav{
    margin-bottom: 40px;
}

nav, ul, .menu{
    display: flex;
}

li {
    padding: 0 12px;
    list-style: none;
}

ul {
    margin-right: 45px;
    padding: 0;
}

nav {
    justify-content: space-between;
}

.menu, .logo, .connexion{
    align-items: center;
}

/* Tous les boutons */

.button {
    background: #3F9BF8;
    padding: 10px 20px;
    border: 1px solid rgba(0, 0, 0, 0.671);
    border-radius: 5px;
}

.button--try {
    color: #FFF;
    border-radius: 5px 0 0 5px;
    float: left;
    border-right: none;
}

.button--sign {
    background: #FFF;
    border-radius: 0 5px 5px 0;
}

.button--30{
    font-size: 19px;
    color: #FFF;
    font-weight: 500;
    padding: 13px 40px;
}

.button--plans, .button--start{
    font-size: 14px;
    color: #FFF;
    font-weight: 500;
    padding: 6px 20px;
}


h1{
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
}

/* Grille presentation du Header */

.wrapper {
    display: grid;
    grid-template-columns:  1.3fr 1fr 1fr 1.3fr;
    background: #3F4655;
    padding: 0;
}

.wrapper div {
    color: #FFF;
    font-size: 12px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    align-self: baseline;
    padding-top: 30px;
    padding-bottom: 20px;
    border-right: 1px solid #000;
}

.tracking img {
    padding-top: 4px;
}
.collaboration img{
    padding-top: 42px;
}

.management img {
    padding-top: 24px;
}



h4{
    font-weight: bold;
}

.wrapper div:last-child {
    border-right: none;
}

/* PRESENTATION */

.presentation{
    text-align: center;
}

.presentation p:first-child{
    width: 50%;
    margin: 50px auto;
    font-size: 20px;
    line-height: 2rem;
}

.presentation p:nth-child(3){
    font-size: 12px;
    margin-bottom: 85px;
}

.presentation img {
    width: 60%;
    box-shadow: 0px 0px 15px 0.1px rgba(0, 0, 0, 0.596);
}

/* Formule choix*/

.paid{
    width: 100%;
    background: #FFF;
    padding: 75px 0;
}

.paid>h2, .paid>p{
    text-align: center;
}


.paid>p{
    font-size: 20px;
    line-height: 2.1rem;
    width: 763px;
    margin: auto;
}


.plans{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.plan{
    padding: 20px 60px;
    text-align: center;
    line-height: 2rem;
}

.plan>p:last-child{
    font-family: serif;
    font-style: italic;
    font-size: 0.9rem;
}

.plan__hosted>img {
    margin-bottom: 12px;
}

.plan__monthly {
    padding-right: 100px;
}

.plan__hosted {
    border-left: 1px solid rgba(0, 0, 0, 0.1);

}


/* Présentation client*/

.who {
    text-align: center;
    padding: 70px 0;
}

.who>p{
    width: 710px;
    margin: auto;
    font-size: 18px;
    line-height: 1.9rem;
    padding-bottom: 60px;
}

.logos>img {
    padding: 0 10px;
}

/* Formulaire inscription */

.formulaire {
    background: #FFF;
    padding-top: 65px;
    padding-bottom: 30px;
}

.formulaire h1{
    font-size: 35px;
    font-weight: 300;
    margin: 0 auto;
    text-align: center;
}

.formulaire p:nth-child(2){
    font-size: 16px;
    line-height: 2rem;
    width: 35%;
    margin: 30px auto;
    text-align: center;
}

.form__all{
    background: #E9EDF2;
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 5px;
    width: 480px;
    height: 410px;
    margin: 0 auto;
    text-align: center;
}

form>div {
    font-weight: bold;
    margin: 25px auto;
}

form>div>input{
    color: grey;
    font-weight: 400;
    font-size: 16px;
    width: 413px;
    height: 40px;
}

form>div>label{
    float: left;
    padding-left: 25px;
}

.button--start{
    font-size: 15px;
    margin: 10px;
}

form>p{
    padding-bottom: 30px;
}

.safe{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 100px;
}
.safe p, .safe a{
    color: rgb(100, 101, 104);
    font-size: 14px;
    margin: 5px auto;
}

.safe a {
    color: rgb(100, 101, 104);
    text-decoration: underline;
}

footer {
    background: #3F4655;
    padding: 50px 0;
    color: #B0B5BF;
}

/* Footer*/

.categorie {
    display: flex;
    font-size: 14px;
    justify-content: center;
    padding-bottom: 40px;
}

.categorie>div>h5 {
    font-weight: bold;
    color: #93989F;
    margin: 6px 0;
    font-size: 14px;
}

.categorie, .footer__logo, footer p:last-child{
    margin: 0 auto;
    width: 90%;
}

.categorie>div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 15px;
}

.categorie>div>a{
    color: rgb(255, 255, 255);
    padding: 5px 0;
    font-weight: 550;
    width: max-content;
}

.footer__logo, footer p {
    text-align: center;
    padding: 15px;
    font-size: 14px;
    font-weight: lighter;
}
